.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  /* Ensure content starts below the topbar (use layout-topbar-height variable) */
  padding: calc(var(--layout-topbar-height) + 1rem) 2rem 0 2rem;
  transition: margin-left var(--layout-section-transition-duration);
}

.layout-main {
  flex: 1 1 auto;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
