------------------------------------- api
APP_URL=http://localhost/
APP_PORT=5173
TMDB_API_KEY= 
------------------------------------- frontend
VITE_API_URL=http://localhost:3000/
VITE_GOOGLE_CLIENT_ID=