# Frontend configuration
APP_URL=http://localhost
APP_PORT=5173

# JWT configuration
JWT_SECRET=

# Database configuration
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=

# Sequelize configuration
NODE_ENV=development

# API configuration
TMDB_API_KEY=